<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
       <ion-col col-6>
          <h3>Team A</h3>
          <ion-col>
            <ion-button size="medium" shape ="round" class= "btn">{{count}} Goals Scored</ion-button>
          <ion-col>
            <ion-button size="medium" shape ="round" class= "btn">{{countOffTeamA}} OffSides</ion-button>
          </ion-col>
       </ion-col>
       </ion-col>
       <ion-col col-6>
        <h3>Team A</h3>
        <ion-col>
          <ion-button size="medium" shape ="round" class= "btn">{{counte}} Goals Scored</ion-button>
        </ion-col>

        <ion-col>
          <ion-button size="medium" shape ="round" class= "btn">{{countOffTeamB}} OffSides</ion-button>
        </ion-col>

        <ion-col>
          <div class="boxContainer">
            <div class="box">
              <ion-button size="large" shape ="square" class= "submit" (click)="goHome()">Done</ion-button>
            </div>
        </div>
        </ion-col>

    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
